.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 16px;
  border: 0;
  border-radius: 3px;
  background-color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-property: color, background-color;
}

.button:hover {
  background-color: #42a5f5;
}
